# General
.DS_Store
*.log
*.lock
*.swp
*.swo
Thumbs.db

### Rust (Backend)
target/
Cargo.lock
**/*.rs.bk
**/*.rs.swp

# Build artifacts
/debug
/release
/target

# Rust IDEs
.idea/
.vscode/
*.iml

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# MongoDB Data Dumps
*.bson
*.json
*.csv

### Flutter (Frontend)
# Dart & Flutter dependencies
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter build files
build/
flutter_client/android/.gradle/
flutter_client/android/app/debug/
flutter_client/android/app/profile/
flutter_client/android/app/release/
flutter_client/ios/Flutter/App.framework
flutter_client/ios/Flutter/Flutter.framework
flutter_client/ios/.symlinks/
flutter_client/ios/Pods/
flutter_client/web/.dart_tool/
flutter_client/web/.firebase/

# VS Code & JetBrains
.vscode/
*.iml
*.idea/
*.metadata
*.classpath
*.project
*.settings/

# MacOS & Windows Artifacts
flutter_client/macos/Flutter/ephemeral/
flutter_client/macos/build/
flutter_client/windows/Flutter/ephemeral/
flutter_client/windows/build/
flutter_client/linux/Flutter/ephemeral/
flutter_client/linux/build/

# Sensitive Files
firebase.json
google-services.json
GoogleService-Info.plist

# Backup & Cache Files
*.bak
*.tmp
*.cache
*.log
